<div class="menu-button">
  <%= image_tag("menu.png", class: "menu-button-image") %>
</div>

<div class="main-menu">
  <%= link_to "Yoga Schedule", "#" %>
  <%= link_to "Art", "#" %>
  <%= link_to "Journal", "#" %>
  <%= link_to "About", "#" %>
  <%= link_to "Contact", "#" %>
</div>

<div class="navbar-mobile">
  <p id="menu-text">MENU</p>
</div>
