<div class="homepage">


<!-- BANNER -->
  <div class="homepage-banner">
    <%= image_tag("homepageimage.png", class: "home-banner") %>
    <div class="quote-right">
      <q id="quote-right">Alice in Wonderland quote goes here</q>
    </div>
  </div>




<!-- ABOUT ALICE SECTION -->
  <div class="homepage-section">

    <div class="homepage-text">
      <h2>Alice Francis</h2>
      <p>aaaaaa text here text here text here text here</p>
      <%= link_to "More about Alice", about_path, class: "btn-more" %>
    <!-- CHANGE PATH ABOVE ONCE PAGES GENERATED -->

    </div>

      <%= image_tag("image1.jpeg", class: "home-image") %>

  </div>


<!-- DIVIDER FOR PAGE GOES HERE -->


<!-- LATEST BLOG POST SECTION -->
  <div class="homepage-section">

    <%= image_tag("image2.jpeg", class: "home-image") %>
    <!-- REPLACE ABOVE WITH IMAGE FROM LATEST POST -->

    <div class="homepage-text">
      <h3>Title from latest post...</h3>
      <p>...And first paragraph from latest blog post will go here.</p>
      <!-- REPLACE ABOVE WITH TITLE AND PARAGRAPH FROM LATEST POST -->

      <%= link_to "Read full post", home_path, class: "btn-more" %>
      <!-- CHANGE PATH ABOVE ONCE PAGES GENERATED -->
    </div>

  </div>


<!-- DIVIDER FOR PAGE GOES HERE -->


<!-- NEXT YOGA CLASS SECTION -->
  <div class="homepage-section">

    <div class="homepage-text">
      <div id="next-class-text">
        <h3>Next yoga class</h3>
        <h4>Women's Circle (Hatha)</h4>
        <h5>Alice in Yogaland Studio</h5>
        <h5>6pm-7pm</h5>
        <h5>£10</h5>
        <h5>Call or text 0712345678 to book</h5>
      </div>
      <!-- REPLACE ABOVE WITH DETAILS FROM NEXT CLASS -->

      <%= link_to "View full schedule", home_path, class: "btn-more" %>
      <!-- CHANGE PATH ABOVE ONCE PAGES GENERATED -->
    </div>

    <%= image_tag("image3.jpeg", class: "home-image") %>

  </div>


<!-- DIVIDER FOR PAGE GOES HERE -->


<!-- LATEST ARTWORK SECTION -->
  <div class="homepage-section">

    <%= image_tag("image5.jpeg", class: "home-image") %>

    <div class="homepage-text">
      <h3>Latest artwork title here</h3>
      <p>Description of latest artwork will go here (if any)</p>
      <%= link_to "View gallery", home_path, class: "btn-more" %>
    </div>

  </div>




</div>
