<!DOCTYPE html>
<html>
  <head>
    <title>Alice in Yogaland</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>


    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alatsi&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=Annie+Use+Your+Telescope&family=Loved+by+the+King&family=Sue+Ellen+Francisco&family=Waiting+for+the+Sunrise&display=swap" rel="stylesheet">

  </head>

  <body>

  <div class="navbar">
    <div class="menu-button">
      <%= image_tag("menu.png", class: "menu-button-image") %>
    </div>
  </div>

  <div class="navbar-mobile">
    <p id="menu-text">MENU</p>
  </div>

      <%= yield %>


  <div class="footer">
    <%= image_tag("mushrooms.png", class: "footer") %>

    <!-- REPLACE WITH DIFFERENT, SMALLER IMAGE -->

    <div class="footer-content">
      <%= image_tag("lotus.png", class: "lotus")  %>
      <q class="quote-right-bottom">Alice in wonderland quote goes here...</q>
    </div>

  </div>

  </body>
</html>
